datasets==2.21.0
ftfy==6.3.0
GPUtil==1.4.0
GPUtil==1.4.0
lightning==2.4.0
numpy==2.1.2
pandas==2.2.3
peft==0.12.0
pyarrow==17.0.0
python-dotenv==1.0.1
pytorch_lightning==2.4.0
scikit_learn==1.5.2
torch==2.4.1+cu118
tqdm==4.66.5
transformers==4.44.2
wandb==0.18.5
